@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-black;
}

.gradient-text {
  @apply bg-gradient-to-r from-purple-400 to-purple-600 bg-clip-text text-transparent;
}

/* Custom animations */
@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

.animate-float {
  animation: float 6s ease-in-out infinite;
}